replicaCount: 2

image:
  repository: itamarchn/sample-nodejs
  tag: "1.0.18"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: sample-nodejs.local
      paths:
        - path: /
          pathType: Prefix


